<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ablecom.kangsan.dao.BoardDAO">
	<select id="boardList" resultType="com.ablecom.kangsan.vo.BoardVO">
		select no, title, content, date, hit from board
	</select>
	<insert id="boardCreateOk" parameterType="com.ablecom.kangsan.vo.BoardVO">
		insert into board(no, title, content, date, hit) 
		values(NEXT VALUE FOR boardsq, #{title}, #{content}, getdate(), 0)
	</insert>
	<select id="boardSelect" resultType="com.ablecom.kangsan.vo.BoardVO">
		select no, title, content, date, hit from board where no=${param1}
	</select>
	
</mapper>

