<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ablecom.kangsan.dao.MemberDAO">
	<insert id="signIn" parameterType="com.ablecom.kangsan.vo.BoardVO">
		insert into member(userid, userpwd, userzipcode, useraddr, userdetailaddr) 
		values(#{userid}, #{userpwd}, ${userzipcode}, #{useraddr}, #{userdetailaddr})
	</insert>
</mapper>

